.header-main {
	right: 0 !important;
}

.pt-home .banner {
	right: 10% !important;
}

.pt-home .lang {
	right: 11% !important;	
}

.pt-home .social {
	left: 20px !important;	
}

.pt-about, 
.pt-resume, 
.pt-portfolio, 
.pt-blog,
.pt-contact2,
.pt-contact3,
.pt-contact4,
.pt-contact5,
.pt-contact6,
.pt-contact7,
.pt-contact8,
.pt-contact9,
.pt-contact10,
.pt-contact {
	-webkit-transform: translateX(-200%) !important;
	-ms-transform: translateX(-200%) !important;
	transform: translateX(-200%) !important;
}

#about:target .pt-about,
#resume:target .pt-resume,
#portfolio:target .pt-portfolio,
#blog:target .pt-blog,
#contact2:target .pt-contact2,
#contact3:target .pt-contact3,
#contact4:target .pt-contact4,
#contact5:target .pt-contact5,
#contact6:target .pt-contact6,
#contact7:target .pt-contact7,
#contact8:target .pt-contact8,
#contact9:target .pt-contact9,
#contact10:target .pt-contact10,
#contact:target .pt-contact {
	-webkit-transform: translateX(0%) !important;
	-ms-transform: translateX(0%) !important;
	transform: translateX(0%) !important;
}

.blog-page .blog-container {
    right: 10% !important;
}

.blog-page .blog-nav {
	right: 47% !important;
}

.header-mobile .header-toggle {
	float: left;
}

@media screen and (max-width: 768px) {
	.header-main {
		right: -135px !important;
	}
	.header-main.on {
        right: 0 !important;
    }
	.blog-page .blog-container {
		right: 0 !important;
	}
}

@media screen and (max-width: 575px) {
	.pt-home .banner {
		left: 0 !important;
	}
	.pt-home .lang {
		right: 10px !important;	
	}
	.pt-home .social {
		right: 10px !important;	
	}
}