<form action="/new" method="POST">

    <input type="text" name = "usuario" placeholder="usuario">
    <input type="text" name = "contraseña" placeholder="contraseña">
    <input type="text" name = "identificacion" placeholder="identificacion">
    <input type="text" name = "nombres" placeholder="nombres">
    <input type="text" name = "apellidos" placeholder="apellidos">
    <input type="text" name = "telefono" placeholder="telefono">
    <input type="text" name = "correo" placeholder="correo">
    <input type="text" name = "direccion" placeholder="direccion">
    <input type="text" name = "id_rol" placeholder="id_rol">
    <input type="text" name = "estado" placeholder="estado">

    <button>Guardar</button>

</form>