<form action="/update/{{usuario.id}}" method="POST">

    <input type="text" name="usuario" placeholder="usuario" value="{{usuario.usuario}}">
    <input type="text" name="contraseña" placeholder="contraseña" value="{{usuario.contrasenia}}">
    <input type="text" name="identificacion" placeholder="identificacion" value="{{usuario.identificacion}}">
    <input type="text" name="nombres" placeholder="nombres" value="{{usuario.nombres}}">
    <input type="text" name="apellidos" placeholder="apellidos" value="{{usuario.apellidos}}">
    <input type="text" name="telefono" placeholder="telefono" value="{{usuario.telefono}}">
    <input type="text" name="correo" placeholder="correo" value="{{usuario.correo}}">
    <input type="text" name="direccion" placeholder="direccion" value="{{usuario.direccion}}">
    <input type="text" name="id_rol" placeholder="id_rol" value="{{usuario.id_rol}}">
    <input type="text" name="estado" placeholder="estado" value="{{usuario.estado}}">

    <button>Guardar</button>

</form>