{% extends 'layout.html' %}

{% block body %}

<div class="row">

    <div class="col-md-5">
        {% include 'partials/_message.html' %}
        {% include 'partials/_userForm.html' %}
    </div>

    <div class="col-md-7">
            {% for usuario in listaUsuario %}
        
            <div class="card mb-1 text-white bg-dark">

                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5>{{usuario.usuario}}</h5>
                        <div>
                            <a href="{{ url_for('users.update_user', id = usuario.id) }}" class="btn bg-black text-white btn-dark btn-sm rounded 0">update</a>
                            <a href="{{ url_for('users.delete_user', id = usuario.id) }}" class="btn btn-danger btn-sm rounded-0">delete</a>
                        </div> 
                    </div>
                    <p>{{usuario.contrasenia}}</p>
                    <p>{{usuario.identificacion}}</p>
                    <p>{{usuario.nombres}}</p>
                    <p>{{usuario.apellidos}}</p>
                    <p>{{usuario.telefono}}</p>
                    <p>{{usuario.correo}}</p>
                    <p>{{usuario.direccion}}</p>
                    <p>{{usuario.id_rol}}</p>
                    <p>{{usuario.estado}}</p>
                    </div>
            </div>
        
            {% endfor %}
    </div>

</div>

{% endblock %}