<!DOCTYPE html>
<html lang="en">
    
<head>
		
		<!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		
		<!-- Title -->
		<title>Proyecto Final</title>

		<!-- CSS Plugins -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/plugins/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/plugins/font-awesome.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/plugins/magnific-popup.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/plugins/simplebar.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/plugins/owl.carousel.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/plugins/owl.theme.default.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/plugins/jquery.animatedheadline.css')}}">
		
		<!-- CSS Base -->
        <link rel="stylesheet" class="back-color" href="{{url_for('static', filename='css/style-dark.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/style-demo.css')}}">
		
		<!-- Settings Style -->
		<link rel="stylesheet" class="posit-nav" href="{{url_for('static', filename='css/settings/left-nav.css')}}" />
		<link rel="stylesheet" class="theme-color" href="{{url_for('static', filename='css/settings/green-color.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/tabla.css')}}">
		<style>
			#divboton{margin: 35px; width: 0px; height: 0px; left: -25px;}
		</style>

    </head>
    <body>
		
		<!--Theme Options Start-->
        <div class="style-options">
            <div class="toggle-btn">
                <span><i class="fas fa-cog"></i></span>
            </div>
            <div class="style-menu">
                <div class="style-nav">
                    <h4 class="mt-15 mb-10">Menu de opciones</h4>
                    <ul>
						<li><a href="{{url_for('static', filename='css/settings/top-nav.css')}}"><i class="fas fa-caret-up"></i> Arriba</a></li>
                        <li><a href="{{url_for('static', filename='css/settings/left-nav.css')}}"><i class="fas fa-caret-left"></i> Izquierda</a></li>
                        <li><a href="{{url_for('static', filename='css/settings/right-nav.css')}}"><i class="fas fa-caret-right"></i> Derecha</a></li>
                        <li><a href="{{url_for('static', filename='css/settings/bottom-nav.css')}}"><i class="fas fa-caret-down"></i> Abajo</a></li>
                    </ul>
                </div>
				<div class="style-back">
                    <h4 class="mt-85 mb-10">Estilo de imagen</h4>
                    <ul>
                        <li><a href="{{url_for('static', filename='css/style-dark.css')}}"><i class="fas fa-moon"></i> Oscuro</a></li>
                        <li><a href="{{url_for('static', filename='css/style-light.css')}}"><i class="far fa-lightbulb"></i> Claro</a></li>
                    </ul>
                </div>
				<div class="style-color">
                    <h4 class="mt-55 mb-10">Color</h4>
                    <ul>
						
                        <li><a href="{{url_for('static', filename='css/settings/green-color.css')}}" style="background-color: #25ca7f;"></a></li>
						<li><a href="{{url_for('static', filename='css/settings/blue-color.css')}}" style="background-color: #00a3e1;"></a></li>
                        <li><a href="{{url_for('static', filename='css/settings/red-color.css')}}" style="background-color: #d94c48;"></a></li>
                        <li><a href="{{url_for('static', filename='css/settings/purple-color.css')}}" style="background-color: #bb68c8;"></a></li>
						<li><a href="{{url_for('static', filename='css/settings/sea-color.css')}}" style="background-color: #0dcdbd;"></a></li>
                        <li><a href="{{url_for('static', filename='css/settings/yellow-color.css')}}" style="background-color: #eae328;"></a></li>
                    </ul>
                </div>
            </div>
        </div>
		
		<!-- Preloader -->
		<div id="preloader">
  			<div class="loading-area">
    			<div class="circle"></div>
  			</div>
  			<div class="left-side"></div>
  			<div class="right-side"></div>
		</div>
		
		<!-- Main Site -->
		<div id="home">
  		<div id="about">
    	<div id="resume">
     	<div id="portfolio">
        <div id="blog">
		<div id="contact">
		<div id="contact4">
			
			<div class="header-mobile">
                <a class="header-toggle"><i class="fas fa-bars"></i></a>
                <h2>Baha</h2>
            </div>
			
			<!-- Left Block -->
			<nav class="header-main" data-simplebar>
		
				<!-- Logo -->
				<div class="logo">
            		<img src="{{url_for('static', filename='img/logo.png')}}" alt="">
            	</div>
				
          		<ul>
					<li data-tooltip="Inicio" data-position="top">
            			<a href="#home" class="icon-h fas fa-house-damage"></a>
					</li>
					<li data-tooltip="mi usuario" data-position="top">
            			<a href="#about" class="icon-a fas fa-user-tie"></a>
					</li>
					<li data-tooltip="mascotas" data-position="top">
            			<a href="#resume" class="fas fa-paw"></a>
					</li>
					<li data-tooltip="generar factura" data-position="top">
            			<a href="#portfolio" class="fas fa-file-invoice-dollar"></a>
					</li>
					<li data-tooltip="facturas" data-position="top">
            			<a href="#blog" class="icon-b fas fa-receipt"></a>
					</li>
					
          		</ul>
				
				<!-- Sound wave -->
    			<a class="music-bg">
      				<div class="lines">
        				<span></span>
        				<span></span>
        				<span></span>
        				<span></span>
						<span></span>
						<span></span>
      				</div>
					<p> Sonido </p>
    			</a>
			 </nav>
			
			<!-- Home Section -->
          	<div class="pt-home" style="background-image: url('static/img/home.jpg')">
             	<section>
					
					<!-- Banner -->
					<div class="banner">
						{% with messages = get_flashed_messages() %}

							{% if messages %}
								{% for message in messages %}
									<div class="alert alert-warning alert-dismissible fade show" role="alert">
										{{message}}
										<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
									</div>
								{% endfor %}
							{% endif %}

						{% endwith %}
  						<h1>Clínica Veterinaria</h1>
						<p class="cd-headline rotate-1">
							<span>Trae tu</span>
							<span class="cd-words-wrapper">
								<b class="is-visible">perro</b>
								<b>gato</b>
								<b>hamster</b>
								<b>o cualquier mascota</b>
							</span>
						</p>
					</div>
					
					<!-- Language -->
					<!--<div class="lang">
                		<ul>
                   			<li><a href="#" class="active">eng</a></li>
                    		<li><a href="#">rus</a></li>
                		</ul>
            		</div>-->
		
					<!-- Social -->
					<div class="social">
            			<ul>
                			<li><a href="https://www.facebook.com/JuanFelipeRojasRodrigue"><i class="fab fa-facebook-f"></i></a></li>
                			<li><a href="https://twitter.com/Pipe_Pai"><i class="fab fa-twitter"></i></a></li>
                			<li><a href="https://www.instagram.com/yesveryguell/"><i class="fab fa-instagram"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UCQW0Q7_AKPx7hHUFygDWIyQ"><i class="fab fa-youtube"></i></a></li>
            			</ul>
        			</div>
			  	</section>  
          	</div>
			
			<!-- User Section -->
			<div class="page pt-about" data-simplebar>
				<section class="container">
					
					<!-- Section Title -->
					<div class="header-page mt-70 mob-mt">
						<h2>Perfil</h2>
						<span></span>
					</div>
				
					<!-- Personal Info Start -->
					<div class="row mt-100">
					
						<!-- Information Block -->
						<div class="col-lg-12 col-sm-12">
    						<div class="info box">
								<div class="row">
									<div class="col-lg-3 col-sm-4">
										<div class="photo">
											<img alt="" src="{{url_for('static', filename='img/usuario2.jpg')}}">		
										</div>	
									</div>
									<div class="col-lg-9 col-sm-8">
										<h4>{{listaUsuario.nombres}} {{listaUsuario.apellidos}}</h4>
										<div class="loc">
											<i class="fas fa-map-marked-alt"></i> <p>{{listaUsuario.direccion}}</p> 
										</div>								
											<p><b>N° Identificación:</b> {{listaUsuario.identificacion}}</p>
											<p><b>Usuario:</b> {{listaUsuario.usuario}}</p>
											<p><b>Teléfono:</b> {{listaUsuario.telefono}}</p>
											<p><b>Correo:</b> {{listaUsuario.correo}}</p>
									</div>
									
									<!-- Icon Info -->
									<div class="col-lg-3 col-sm-4">
                                		<div class="info-icon">
                                     		<i class="fas fa-award"></i>
                                     		<div class="desc-icon">
												<h6></h6>
                                            	<p></p>
                                       		</div>
                                		</div>
                                	</div>
									
									<!--<div class="col-lg-3 col-sm-12 pt-50">
										<a href="#" class="btn-st">Download CV</a>
									</div>-->

									<!-- Icon Info -->
									<div class="col-lg-3 col-sm-4">
                                		<div class="">
                                     		<i class=""></i>
                                     		<div class="">
												<h6></h6>
                                            	<p></p>
                                      		</div>
                                		</div>
                                	</div>
									
									<!--<div class="col-lg-3 col-sm-12 pt-50">
										<a href="#" class="btn-st">Editar Perfil</a>
									</div>-->

									<!-- Icon Info -->
									<!--<div class="col-lg-3 col-sm-4">
                                		<div class="info-icon">
                                     		<i class="fas fa-user-astronaut"></i>
                                     		<div class="desc-icon">
												<h6>Freelance</h6>
                                           		<p>Available</p>
                                        	</div>
                                		</div>
                                	</div>-->

									<div class="col-lg-3 col-sm-12 pt-50">
										<a href="{{ url_for('proy.update_user', id = listaUsuario.id, con = 2, idActual = listaUsuario.id) }}" class="btn-st">Editar Perfil</a>
									</div>


									<div class="col-lg-3 col-sm-12 pt-50">
                                		<a href="{{ url_for('proy.index')}}" class="btn-st">Cerrar Sesión</a>
                                	</div>
								</div>
							</div>
						</div>
					</div>
			  	</section>
         	</div>-->
			 
			 <!-- Pets Section -->
			<div class="page pt-resume" data-simplebar>
				<section class="container">
					
					<!-- Section Title -->
					<div class="header-page mt-70 mob-mt">
						<h2>Mascotas</h2>
						<span></span>
					</div>
				
					<!-- Personal Info Start -->
					<div class="row mt-100">
					
						<!-- Information Block -->
						<div class="col-lg-12 col-sm-12">
    						<div class="info box">
								<div class="row">
									<div class="col-lg-3 col-sm-4">
										<div class="photo">
											<img alt="" src="{{url_for('static', filename='img/usuario2.jpg')}}">		
										</div>	
									</div>

									<div class="col-lg-9 col-sm-8">
										<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

										<table id="myTable2" class="paginated">
											<tr class="header">
												<th style="width:40%;">Nombre</th>
												<th style="width:40%;">Especie</th>
												<th style="width:40%;">Raza</th>
												<th style="width:40%;">Color</th>
												<th style="width:40%;">Año de Nacimiento</th>
												<th style="width:40%;">Peso</th>
												<th style="width:40%;">idDueño</th>
												<th style="width:40%;">Dueño</th>
												<th style="width:40%;">Editar</th>
												<th style="width:40%;">Eliminar</th>
											</tr>
											{% for i in listaMascotas %}
											<tr>
												<td>{{i[1]}}</td>
												<td>{{i[2]}}</td>
												<td>{{i[3]}}</td>
												<td>{{i[4]}}</td>
												<td>{{i[5]}}</td>
												<td>{{i[6]}}</td>
												<td>{{i[7]}}</td>
												<td>{{i[8]}}</td>
												<td><a href="{{ url_for('proy.update_pet', id = i[0], con = 2, idActual = listaUsuario.id) }}" class="btn bg-black text-white btn-dark btn-sm rounded 0">editar</a></td>
												<td><a href="{{ url_for('proy.delete_pet', id = i[0], con = 2, idActual = listaUsuario.id) }}" class="btn bg-black text-white btn-dark btn-sm rounded 0">Eliminar</a></td>			
											</tr>
											{% endfor %}
										</table>
									</div>
									
									<!-- Icon Info -->
									<div class="col-lg-3 col-sm-4">
                                		<div class="">
                                     		<i class=""></i>
                                     		<div class="desc-icon">
												<h6></h6>
                                            	<p></p>
                                       		</div>
                                		</div>
                                	</div>
									
									<div class="col-lg-3 col-sm-12 pt-50">
										<a href="#" class="btn-st"></a>
									</div>

									<!-- Icon Info -->
									<div class="col-lg-3 col-sm-4">
                                		<div class="">
                                     		<i class=""></i>
                                     		<div class="">
												<h6></h6>
                                            	<p></p>
                                      		</div>
                                		</div>
                                	</div>

									<!-- Icon Info -->
									<!--<div class="col-lg-3 col-sm-4">
                                		<div class="info-icon">
                                     		<i class="fas fa-user-astronaut"></i>
                                     		<div class="desc-icon">
												<h6>Freelance</h6>
                                           		<p>Available</p>
                                        	</div>
                                		</div>
                                	</div>-->

								</div>
							</div>
						</div>
					</div>
			  	</section>
			</div>

			 	<!-- Generar factura Section -->
			<div class="page pt-portfolio" data-simplebar>
				<section class="container">
								
								<!-- Section Title -->
								<div class="header-page mt-70 mob-mt">
									<h2>Generar Factura</h2>
									<span></span>
								</div>
							
								<!-- Personal Info Start -->
								<div class="row mt-100">
								
									<!-- Information Block -->
									<div class="col-lg-12 col-sm-12">
										<div class="info box">
											<div class="row">
												<div class="col-lg-3 col-sm-4">
													<div class="photo">
														<img alt="" src="{{url_for('static', filename='img/usuario2.jpg')}}">		
													</div>	
												</div>
			
												<div class="col-lg-9 col-sm-8">
													<input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Search for names.." title="Type in a name">
			
													<table id="myTable9" class="paginated">
														<tr class="header">
															<th style="width:10%;">Id</th>
															<th style="width:10%;">Nombre</th>
															<th style="width:10%;">Apellido</th>
															<th style="width:10%;">Usuario</th>
															<th style="width:10%;">Identificacion</th>
															<th style="width:10%;">Telefono</th>
															<th style="width:10%;">Correo</th>
															<th style="width:10%;">Direccion</th>
															<th style="width:10%;">Generar</th>
														</tr>
														{% for usuario in usuarios %}
														<tr>
															<td>{{usuario[0]}}</td>
															<td>{{usuario[4]}}</td>
															<td>{{usuario[5]}}</td>
															<td>{{usuario[1]}}</td>
															<td>{{usuario[3]}}</td>
															<td>{{usuario[6]}}</td>
															<td>{{usuario[7]}}</td>
															<td>{{usuario[8]}}</td>
															<td><a href="{{ url_for('proy.addpago', id = usuario[0], idActual = listaUsuario.id) }}" class="btn bg-black text-white btn-dark btn-sm rounded 0">Generar</a></td>				
														</tr>
														{% endfor %}
													</table>
												</div>
												
												<!-- Icon Info -->
												<div class="col-lg-3 col-sm-4">
													<div class="">
														 <i class=""></i>
														 <div class="desc-icon">
															<h6></h6>
															<p></p>
														   </div>
													</div>
												</div>
												
												<div class="col-lg-3 col-sm-12 pt-50">
													<a href="#" class="btn-st"></a>
												</div>
			
												<!-- Icon Info -->
												<div class="col-lg-3 col-sm-4">
													<div class="">
														 <i class=""></i>
														 <div class="">
															<h6></h6>
															<p></p>
														  </div>
													</div>
												</div>
			
												<!-- Icon Info -->
												<!--<div class="col-lg-3 col-sm-4">
													<div class="info-icon">
														 <i class="fas fa-user-astronaut"></i>
														 <div class="desc-icon">
															<h6>Freelance</h6>
															   <p>Available</p>
														</div>
													</div>
												</div>-->
			
											</div>
										</div>
									</div>
								</div>
				</section>
			</div>

			<!-- Factura Section -->
			<div class="page pt-blog" data-simplebar>
				<section class="container">
					
					<!-- Section Title -->
					<div class="header-page mt-70 mob-mt">
						<h2>Facturas</h2>
						<span></span>
					</div>
				
					<!-- Personal Info Start -->
					<div class="row mt-100">
					
						<!-- Information Block -->
						<div class="col-lg-12 col-sm-12">
    						<div class="info box">
								<div class="row">
									<div class="col-lg-3 col-sm-4">
										<div class="photo">
											<img alt="" src="{{url_for('static', filename='img/usuario2.jpg')}}">		
										</div>	
									</div>

									<div class="col-lg-9 col-sm-8">
										<input type="text" id="myInput3" onkeyup="myFunction3()" placeholder="Search for names.." title="Type in a name">

										<table id="myTable8" class="paginated">
											<tr class="header">
												<th style="width:20%;">N° de Factura</th>
												<th style="width:20%;">Cantidad de servicios</th>
												<th style="width:20%;">subtotal</th>
												<th style="width:20%;">iva</th>
												<th style="width:20%;">Total</th>
												<th style="width:20%;">Usuario</th>
												<th style="width:20%;">fecha</th>
											</tr>
											{% for i in listaFactura %}
											<tr>
												<td>{{i[0]}}</td>
												<td>{{i[1]}}</td>
												<td>{{i[2]}}</td>
												<td>{{i[3]}}</td>
												<td>{{i[4]}}</td>
												<td>{{i[5]}}</td>
												<td>{{i[6]}}</td>					
											</tr>
											{% endfor %}
										</table>
									</div>
									
									<!-- Icon Info -->
									<div class="col-lg-3 col-sm-4">
                                		<div class="">
                                     		<i class=""></i>
                                     		<div class="desc-icon">
												<h6></h6>
                                            	<p></p>
                                       		</div>
                                		</div>
                                	</div>
									
									<div class="col-lg-3 col-sm-12 pt-50">
										<a href="#" class="btn-st"></a>
									</div>

									<!-- Icon Info -->
									<div class="col-lg-3 col-sm-4">
                                		<div class="">
                                     		<i class=""></i>
                                     		<div class="">
												<h6></h6>
                                            	<p></p>
                                      		</div>
                                		</div>
                                	</div>

									<!-- Icon Info -->
									<!--<div class="col-lg-3 col-sm-4">
                                		<div class="info-icon">
                                     		<i class="fas fa-user-astronaut"></i>
                                     		<div class="desc-icon">
												<h6>Freelance</h6>
                                           		<p>Available</p>
                                        	</div>
                                		</div>
                                	</div>-->

								</div>
							</div>
						</div>
					</div>
			  	</section>
			</div>

			<!-- Formulario Factura -->
			<div class="page pt-contact4" data-simplebar>
            	<section class="container">
					
					<!-- Section Title -->
              		<div class="header-page mt-70 mob-mt">
						<h2> Crear Factura </h2>
    					<span></span>
					</div>
					
					<!-- Form Start -->
					<div class="row mt-100">
						<div class="col-lg-12 col-sm-12">
							<div class="contact4-form ">
                        		<form action="/addfactura/{{listaUsuario.id}}" method="POST" class="box contact4-valid" >
									
									<div class="row">

                            			<div class="col-lg-6 col-sm-12">
											<label>Forma de pago</label>
											<select name="formapago" id="formapago" class="form-control">
												<option value="">Seleccione...</option>
												{% for i in listaPagos %}
												<option value="{{i.id}}">{{i.tipodepago}}</option>
												{% endfor %}
											</select>
                            			</div>

										<div class="col-lg-12 col-sm-12 text-center" id="divboton">
                                			<button class="btn-st">Agregar Servicio</button>
                                			<div id="loader4">
                                    			<i class="fas fa-sync"></i>
                                			</div>
                            			</div>

										<div class="col-lg-12 col-sm-12">
                            				<div class="error-messages">
                                				<div id="success4">
													<i class="far fa-check-circle"></i>Thank you, your message has been sent.
												</div>
                                				<div id="error4">
													<i class="far fa-times-circle"></i>Error occurred while sending email. Please try again later.
												</div>
											</div>
                            			</div>
									</div>
                    			</form>
                    		</div>
						</div>
					</div>
					
            	</section>
          	</div>
			
      	</div>
    	</div>
  		</div>
		</div>
		</div>
		</div>
		</div>
		
		<!-- All Script -->
		<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/simplebar.js')}}"></script>
		<script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.animatedheadline.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.easypiechart.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.validation.js')}}"></script>
		<script src="{{url_for('static', filename='js/tilt.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
		<script src="{{url_for('static', filename='js/main-demo.js')}}"></script>
        <script src="https://maps.google.com/maps/api/js?sensor=false"></script>

		<script>
			function myFunction() {
			  // Declare variables
			  var input, filter, table, tr, td, i, txtValue;
			  input = document.getElementById("myInput");
			  filter = input.value.toUpperCase();
			  table = document.getElementById("myTable2");
			  tr = table.getElementsByTagName("tr");
			
			  // Loop through all table rows, and hide those who don't match the search query
			  for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if (td) {
				  txtValue = td.textContent || td.innerText;
				  if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				  } else {
					tr[i].style.display = "none";
				  }
				}
			  }
			}
		</script>

		<script>
			function myFunction2() {
			  // Declare variables
			  var input, filter, table, tr, td, i, txtValue;
			  input = document.getElementById("myInput2");
			  filter = input.value.toUpperCase();
			  table = document.getElementById("myTable9");
			  tr = table.getElementsByTagName("tr");
			
			  // Loop through all table rows, and hide those who don't match the search query
			  for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
				  txtValue = td.textContent || td.innerText;
				  if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				  } else {
					tr[i].style.display = "none";
				  }
				}
			  }
			}
		</script>

	<script>
		function myFunction3() {
		// Declare variables
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("myInput3");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable8");
		tr = table.getElementsByTagName("tr");
		
		// Loop through all table rows, and hide those who don't match the search query
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
			txtValue = td.textContent || td.innerText;
			if (txtValue.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			} else {
				tr[i].style.display = "none";
			}
			}
		}
		}
	</script>
		
    </body>

</html>